<header class="menu">
	<div class="menu-container">
		<%= link_to root_url, class: "menu_logo" do %>
			<%= image_tag "brafe.png", alt: "Brafé" %>
		<%end%>
		<nav class="menu-nav">
			<ul>
				<li><%= link_to "Sobre", about_path%></li>
				<li><%= link_to "Produtos", products_path%></li>
				<li><a href="#">Portfólio</a></li>
				<li><%= link_to "Contato", contact_path%></li>
			</ul>
		</nav>
	</div>
</header>

