<h1>Produtos</h1>
<br>

<p><%= notice %></p>
<p><%= alert %></p>
<br>

<% @products.each do |product| %>
  <p>Nome: <%= product.name %></p>
  <p>Categoria: <%= product.category %></p>
  <p>Preço: <%= product.price %></p>
  <!-- link_to admite classes css utilizando class: -->
  <%= link_to "(Excluir produto)", destroy_product_path(id: product.id), method: :delete,
  data: { confirm: "Tem certeza que deseja excluir?" } %>
  <!-- data confirm cria um prompt javascript de confirmação -->
  <br>
<% end %>
